</div>
<!-- jQuery -->
    <script src="../../javascripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../javascripts/bootstrap.min.js"></script>


    <script src="../../javascripts/bootstrap-datepicker.js"></script>
    
    <script src="../../javascripts/jquery.dataTables.min.js"></script>
    <script src="../../javascripts/dataTables.bootstrap.min.js"></script>
    
    <script src="../../javascripts/jquery.validate.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../javascripts/script.js"></script>

</body>

</html>
