<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Users</h1>
        </div>
    </div>
    <!--<a href="add-book" class="btn btn-lg btn-primary">Add new user</a>-->
    <div class="form-inline">
        <div class="form-group">
            <div class="dropdown" id="selectUser">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="Select" style="width: 70px">
                    <i class="fa fa-square-o" style="margin-right: 10px"></i>  
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="selectUser">
                    <li><a href="#" id="selectAllUser">Select all</a></li>
                    <li><a href="#" id="unselectAllUser">Unselect all</a></li>
                </ul>
            </div>
        </div>
        <button type="button" class="btn btn-default btn-sm" id="deleteUser-button" title="Delete" style="width: 8%" data-toggle="modal"><i class="fa fa-trash-o"></i></button>
        <div class="modal fade" role="dialog" id="deleteUser-box1">
            <form method="POST" action="delete-user">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete user</h4>
                        </div>
                        <div class="modal-body">
                            <p>Do you want to delete these users?</p>
                            <p>Click on "Yes" to continue, "No" to cancel</p>
                            <input type="text" id="listUserId" name="listUserId" style="width: 100%" hidden>
                            <input type="text" id="countUser" name="countUser" hidden>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="buttonCancelDeleteUser1" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary" id="buttonConfirmDeleteUser">Yes</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" role="dialog" id="deleteUser-box2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete user</h4>
                    </div>
                    <div class="modal-body">
                        <p>You have not selected any user</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="refreshButton btn btn-default btn-sm" title="Refresh" style="width: 8%"><i class="fa fa-refresh"></i></button>
    </div>
    <br>
    <table id="userList" class="tableListUser table table-bordered table-striped">
        <thead>
            <tr>
                <th class="nosort" style="width: 5%"></th>
                <th>Username</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

