<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Book Store</title>

        <!-- Bootstrap Core CSS -->
        <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../../stylesheets/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign Up</h3>
                        </div>
                        <% if (messages.reason_fail) {
                        %>
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <%=messages.reason_fail%>
                        </div>
                        <%
                        }
                        %>
                        <div class="panel-body">
                            <form action="register" method="post" id="formRegisterUser">

                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" value="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm password" name="confirmPassword" id="confirmPassword" type="password" value="">
                                </div>
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Register">
                                <a href="login" class="btn btn-lg btn-default btn-block">Cancel</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% include ../../parts/tail %>

